.idea/
.idea_modules/
target/
.classpath
.settings/
.project
.cache-main
/bin/
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
/_build
/cover
/deps
erl_crash.dump
*.ez
.DS_Store
/.build
/Packages
/*.xcodeproj
# Eclipse Core
.project
.settings/

# JDT-specific (Eclipse Java Development Tools)
.classpath

.idea/
*.iml
/target/
__pycache__/
out
.idea
.idea/workspace.xml
build
.gradle

*.jar
node_modules/
